{{ define "main" }}
    <main>
        <section class="welcome">
            <h2><i>Welcome to Breathe Laboratory</i></h2>
        </section>

        <section class="hero">
            <div class="hero-overlay-box">
                <h3>Engineering, the Rhythm of Life</h3>
                <p>Innovating at the intersection of robotics, biology, and engineering to decode and enhance the rhythm of human life.</p>
            </div>
        </section>

        <section class="cta-buttons">
            <a href="/publication/" class="btn primary-btn">View Latest Publications</a>
            <a href="/research/" class="btn primary-btn">Explore Research Areas</a>
        </section>
    </main>
{{ end }}
